*{
 margin: 0;
 padding: 0;
 font-family: 'poppons', sans-serif;
 box-sizing: border-box;
}

.head{
    font-size: 50px;
    padding-left: 655px;
    padding-right: 655px;
    background: linear-gradient(black,skyblue);
    color: transparent;
    background-clip:text;
    display: flex;
    justify-self: center;
}

.container{
    width: 100%;
    height: 100vh;
    background:linear-gradient(skyblue,white,pink);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #3a4452;
    padding: 20px; 
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255,0.1), 5px 5px 15px rgba(0, 0, 0,0.3);
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 5px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

}

form .display input{
    text-align: right;
    flex:1;
    font-size: 45px ;
    box-shadow: none;
}

form  input.operator {
    color: #33ffd4;

}
